<!DOCTYPE html>
<html>
<head>
  <title>AIS</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'ais', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ais', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<!-- make partial for header and footer-->
<%= yield %>

</body>
</html>